<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>励铖万信</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="static/fontawesome/css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="static/css/templatemo-business-oriented.css" rel="stylesheet" />
    <style>
        .bodybox {
            /*background: #FFFFFF;*/
            background-repeat: no-repeat;
            background-size: 100% 100%;
            /*background-image: "static/img/company-logo.jpg";*/
            /*background-repeat: repeat;*/
            /*background-image: url(static/img/background-1.jpg);*/
            background-image: url(static/img/th.jpg);
        }
    </style>
    <style>
        .titlebox {
            width: 500px;
            height: 50px;
            /*background: #E8EFF0;*/
            text-align: center;
        }
        .titlebox.wordmuch {
            font-size: 30px;
            color: #000000;
        }
        .titlebox.imglogo {
            width: 150px;
            height: 100px;
            opacity: 0.5;
        }
    </style>
    <style>
        .endbox {
            color: #0c5460;
        }
    </style>
</head>
<!--TemplateMo 549 Business Oriented https://templatemo.com/tm-549-business-oriented-->
<body class="bodybox">
    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <!--<button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbar-nav"
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="dark-blue-text"><i class="fas fa-bars"></i></span>
                        </button>-->
                        <img class="titlebox imglogo" src="static/img/company-logo.jpg" alt="Image" class="static/img-fluid tm-strategy-static/img">
                        <div class="titlebox wordmuch" title="">湖南励铖万信人力资源有限公司</div>
                        <!--<div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav ml-auto">
                                &lt;!&ndash;<li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="services.html">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="about.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="contact.html">Contact</a>
                                </li>&ndash;&gt;
                            </ul>
                        </div>-->
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-7">
        <div class="row mb-6">
            <section class="col-lg-6 mb-lg-0 mb-5">
                <div class="tm-intro">
                    <h3 class="tm-title-gray mb-4">公司简介</h3>
                    <hr class="mb-5 tm-hr">
                    <p class="mb-5">公司成立时间于2020年5月。我们的服务理念是诚信务实、以人为本、用心服务。我们的服务项目有，劳务派遣、校企合作、人事外包、代理招聘.劳务外包、实习就业、代办社保 定向委培、联合办学。我们的服努对象是企业、学校、事业单位、社会团体、个人客户。
                        我们的招聘对象是大专、中专、职业中学、院校学生.农民工、普工、临时工、小时工 等多种工种人群。我们的战略目标是打造专业的人力资源派遣供应商，通过提高高技能人才提升客户核心竞争力，打造专业的人力资源顾问团队。以提供优质的服务,创造最大的人力资源价值，降低人力资源成本和用工风险，与客户共同成长,为客户创造价值。
                    </p>
                    <p class="mb-5">我们承诺：精益求精，用心服务到每一位客户</p>
<!--                    <img src="static/img/biz-oriented-1.jpg" alt="Company Background Image" class="static/img-fluid tm-mb-3">-->
                </div>
            </section>
            <section class="col-lg-6">
                <h3 class="tm-title-gray mb-4">公司结构</h3>
                <hr class="mb-5 tm-hr">
                <div class="tm-strategy-box mb-5">
<!--                    <img src="static/img/strategy-1.jpg" alt="Image" class="static/img-fluid tm-strategy-static/img">-->
                    <div>
                        <h4 class="tm-text-primary">总裁</h4>
                        <p class="tm-strategy-text">总览公司大的走向，统筹公司整体业务和发展方向。</p>
                    </div>
                </div>
                <div class="tm-strategy-box mb-5">
<!--                    <img src="static/img/strategy-2.jpg" alt="Image" class="static/img-fluid tm-strategy-static/img">-->
                    <div>
                        <h4 class="tm-text-primary">财务部</h4>
                        <p class="tm-strategy-text">主要负责公司整体资金进出纳，统筹公司财务工作，管控好公司所有项目成本和利润记录，出公司利润大盘，系总裁直接管理。</p>
                    </div>
                </div>
                <div class="tm-strategy-box mb-5">
<!--                    <img src="static/img/strategy-3.jpg" alt="Image" class="static/img-fluid tm-strategy-static/img">-->
                    <div>
                        <h4 class="tm-text-primary">业务部</h4>
                        <p class="tm-strategy-text">主要服务公司项目运行和其他业务板块的拓展，主要宗旨为保证公司项目良性运行，负责公司主要BG。系总裁直接管理，下设经理、助理和普通业务员等职务</p>
                    </div>
                </div>
            </section>
            <Services>
                <div class="row endbox">联系我们：0731-85417199</div>
                <div class="row endbox">公司地址：湖南省长沙市天心区保利国际广场B3栋1510</div>
            </Services>
        </div>
        <!-- Services -->
        <!--<div class="row mb-7">
            <div class="col-lg-4 col-md-6">
                <div class="tm-bg-gray tm-box">
                    <div class="text-center mb-3">
                        <i class="fas fa-cloud-sun fa-5x p-5"></i>
                    </div>
                    <h4 class="tm-text-primary tm-h3 mb-5">Suspendisse at nunc leo</h4>
                    <p>Phasellus malesuada aliquam arcu, et ultricies metus scelerisque id. Curabitur finibus ornare blandit. Donec a luctus nulla. Vivamus ac felis sapien.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tm-bg-gray tm-box">
                    <div class="text-center mb-3">
                        <i class="fas fa-spa fa-5x p-5"></i>
                    </div>
                    <h4 class="tm-text-primary tm-h3 mb-5">Etiam viverra elit vel efficitur</h4>
                    <p>Nunc ultrices imperdiet orci, a ultrices orci luctus vel. Etiam consequat placerat convallis. Donec consequat consectetur est, eget pretium nisl.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <img src="static/img/biz-oriented-2.jpg" alt="Image" class="static/img-fluid">
                <div class="tm-box tm-box-s">
                    <p class="tm-mb-5">Suspendisse gravida, ipsum a gravida euismod, metus enim hendrerit ante, vel hendrerit sapien sem non nisl. Maecenas tempus risus ipsum.</p>
                </div>
            </div>
        </div>-->
    </div>

    <!--<div id="parallax-2" class="parallax-window parallax-window-2" data-parallax="scroll"
        data-image-src="static/img/biz-oriented-footer.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="tm-overlay tm-bg-white">
                        <h4 class="tm-text-primary mb-5">Parallax Background Section</h4>
                        <p class="mb-5">Suspendisse gravida, ipsum a gravida euismod, metus enim hendrerit ante, vel hendrerit sapien sem non nisl. Maecenas tempus risus ipsum.</p>
                        <a href="contact.html" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!--<footer class="container-fluid">
        <div class="row">
            <p class="col-lg-9 col-md-8 mb-5 mb-md-0">
                Copyright &copy; 2020 <span class="tm-text-primary">Business Oriented</span>
                - designed by <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-link-primary">TemplateMo</a>
            </p>
            <div class="col-lg-3 col-md-4 text-right">
                <a rel="nofollow" target="_blank" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook fa-2x tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter fa-2x tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin fa-2x tm-social-icon"></i>
                </a>
            </div>
        </div>
    </footer>-->

    <!--<script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/parallax.min.js"></script> &lt;!&ndash; https://pixelcog.github.io/parallax.js/ &ndash;&gt;
    <script src="static/js/tooplate-script.js"></script>
    <script>
        $(document).ready(function () {
            $('#parallax-1').parallax({ imageSrc: 'static/img/biz-oriented-header.jpg' });
            $('#parallax-2').parallax({ imageSrc: 'static/img/biz-oriented-footer.jpg' });
        });
    </script>-->
</body>

</html>